@font-face {
    font-family: Delicious;
    src: url('Delicious-Roman.otf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('Delicious-Bold.otf');
}

* {
    font-family: ;
}

#schedule {
    margin-top: 5rem;
}

#schedule-form {
    margin-top: 25rem;
    position: absolute;
}

.pd-left {
    padding-left: 5rem;
}