@font-face {
    font-family: BwModelica;
    src: url('../assets/fonts/elements-bw-modelica-font-family-96W3JH-2017-02-23/Bw\ Modelica/otf/BwModelica-Medium.otf');
}

@font-face {
    font-family: BwModelicaBold;
    font-weight: bold;
    src: url('../assets/fonts/elements-bw-modelica-font-family-96W3JH-2017-02-23/Bw\ Modelica/otf/BwModelica-ExtraBold.otf');
}

body {
    font-family: BwModelica;
}

h1 {
    font-family: BwModelicaBold;
}

.margin-top-high {
    margin-top: 5rem;
}

.margin-top-med {
    margin-top: 3rem;
}

.margin-top-low {
    margin-top: 1rem;
}

#schedule-form {
    margin-top: 30rem;
    position: absolute;
}

.pd-left {
    padding-left: 6rem;
}

.my-primary-color {
    color: rgb(31, 62, 114);
}

.my-secondary-color {
    color: rgb(55, 87, 213);
}

label {
    display: block;
}

.form-group {
    padding: 1rem;
}

.my-btn-primary {
    background-color: rgb(55, 87, 213);
    box-shadow: 0 1.5px 6px 0 #333333, 0 1px 3px 0 #333333;
}

#form-btn {
    margin-top: 1.4rem;
}